<div class='row-fluid album-row'>
    <div class='span4 album-title' data-album-id="{{id}}">
        {{title}}
    </div>
    <div class='span4'>
        {{artist}}
    </div>
    <div class='span2'>
        {{genre}}
    </div>
    <div class='span1 edit-album muted' data-album-id="{{id}}">
        edit
    </div>
    <div class='span1 delete-album'>
        <a href='javascript:void(0)' data-album-id='{{id}}'>&times;</a>
    </div>
    
    
</div>
