<div class='row-fluid album-row'>
    <div class='span4 album-title' data-album-id="{{id}}">
        {{title}}
    </div>
    <div class='span4'>
        {{artist}}
    </div>
    <div class='span3'>
        {{genre}}
    </div>
    <div class='span1 btn btn-small delete-album' data-album-id="{{id}}">
    x
    </div>
    
    
</div>
